body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('noobcoder.jpg') , rgb(144, 141, 140);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10vh 10vh;
}

#calculator {
    border: 5px solid rgba(0, 0, 0, 0.834);
    padding: 1vw;
    width: 26vw;
}

#screen {
    border: 4px solid black;
    background-color: white;
    opacity: 0.6;
    height: 12vh;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: end;
    overflow: hidden;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5vw;
}

.btn {
    border: 3px solid black;
    height: 6vh;
    box-shadow: 5px 5px 5px 5px white inset;
}

.btn:hover,
#equal:hover {
    cursor: pointer;
}

#equal {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    border: 3px solid black;
    box-shadow: 5px 5px 5px 5px white inset;
    /* box-shadow: 15px 15px 15px 15px #1e1a1a61 inset;  */
}

.font {
    font-size: 2rem;
    font-weight: 600;
}

.view {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    height: 3vh;
}
@media only screen and (max-width:910px)
{
    .font{
        font-size: 1.5rem;
    }
    .view{
        font-size: 1.5rem;
    }
    #calcuator{
        width: 35vw;
    }
}
@media only screen and (max-width:732px)
{
    .font{
        font-size:1rem
    }
    .btn{
        height: 4vh;
    }
    #calculator{
        width: 50vw;
    }
}